// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

//jumbotron
@import 'partials/jumbotron.scss';

// footer
@import 'partials/footer.scss';

// header
@import 'partials/header.scss';

//show
@import 'partials/show.scss';

th, td {
    border: 1px solid black;
}

ul {
    margin: 0;
    padding-inline-start: 0;
  }

.text_clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.item {
    width: 50%;
    height: 700px;
}

.apartment {
    overflow-y: scroll;
}
